body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

.header{
    background: #ff6600;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px
}

p {
    margin: 0 0 5px !important;
}

a {
    text-decoration: none !important;
    color: green !important;
}

ul {
    list-style-type: none;
    margin: 0 0 5px 0;
}
#user-info .col-md-2 ul {
    box-shadow: 0 0 1px;
    padding: 5px 5px 5px 5px;
}
#user-info .col-md-2 ul li {
    padding: 5px;
}
.s-box{
    background: #f6f6ef;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.search-container {
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    margin-top: 5px;
}
#main-container {
    margin-top: 5px;
}
.search-container input#search {
    width: 100%;
    height: 50px;
    background: #f6f6ef;
    border: none;
    font-size: 16px;
    float: left;
    color: #232833;
    border-bottom: 2px solid #232833;
}
.col-md-11 {
    padding-right: 5px !important;
}
.search-container input#search::-webkit-input-placeholder {
    color: #65737e;
}
.search-container input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}
.search-container input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}
.search-container input#search:-ms-input-placeholder {
    color: #65737e;
}
.search-container button.icon {
    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 1;
    font-size: 16px;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
    float: left;
    border-bottom: 2px solid #232833;
    margin-top: -50px;
}
.search-container:hover button.icon {
    background: #f6f6ef;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
input:focus {
    outline: none;
}
.user-details-container {
    margin-top: 20px;
}
.user-image {
    width: 20% !important;
}
p.user-name {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

#error-message {
    margin-top: 10px;
}
#search-btn {
    width: 90px;
    margin-left: 3px;
    height: 50px;
}
#clear-btn {
    width: 90px;
    margin-left: 3px;
    height: 50px;
}
.user-name {
    font-size: 30px;
}
.user-type {
    font-size: 20px;
}
.follow-counts {
    padding-left: 0;

}
.follow-counts li {
    display: inline-block;
    text-align: center;  
    margin-right: 25px;
}
.follow-counts li p { 
    margin-bottom: 0;
}
.user-followers {
    font-weight: bold;
    font-size: 20px;   
}
#user-info {
    margin-top: 20px;
}
#user-info img {
    width: 100%;
    box-shadow: 0 0 1px;
}
.repository-box {
    box-shadow: 0 0 1px 0;
    margin-bottom: 20px;
    width: 350px !important;
    margin-right: 40px;
    padding-bottom: 10px;
}
.repository-box p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #586069;
    font-size: 12px;
}
.repository-box a {
    display: block;
    padding: 10px 0 5px 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #d3d3d3;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.repo-lang-icon {
    background-color: #f1e05a;
    position: relative;
    margin-right: 5px;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
#user-info .col-md-2 {
    margin-bottom: 20px;
}
#user-info .col-md-2 ul li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-info-block {
    box-shadow: 0 0 1px;
}
.user-info-block p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-name-full {
    box-shadow: 0 0 1px;
    padding: 3px 0 5px 0;
}
